    <div>
        <label>Stock:</label>
        <input id="watchlistStock" type="text" name="stock" />
    </div>
    <div>
        <button id='watchlistSubmit'>Submit</button>

        <button id='watchlistDelete'>Delete</button>
    </div>