<h1>DASHBOARD</h1>

<h3>search</h3>

<h3>portfolio</h3>

<h3>watchlist</h3>

<h3>markets news</h3>


<table class="tablesorter">
    <thead>
        <th>Stock</th>
        <th>Price</th>
        <th>Change</th>
        <th>%</th>
    </thead>
    <tbody>
            {{!-- {{#each data}}
            <tr class="stock increase"><td class="name">{{symbol}}</td></tr>
            {{/each}} --}}


            {{!-- {{#each data}}
            <tr class="stock increase"><td class="name">{{symbol}}</td><td class="value">test</td><td class="change">test</td><td class="percentage">test</td></tr>
            {{/each}} --}}
    </tbody>
</table>


        

