        {{> sidenav}}
<div class="contentMainBody">
<h2>Dashboard</h2>

                        <form id="watchlistForm" autocomplete="off">
                            <div class="autocomplete" style="width:300px;">
                                <input id="addWatchlist" type="text" name="stock" placeholder="Add stock to watchlist">
                            </div>
                            <input id="add" type="submit" name="action" value="Add">
                            <input id="del" type="submit" name="action" value="Delete">
                        </form>



<div class="mainBody">
    <div class="stockInfo">

        <div class="tables">

            <div class="tableBlock">
                <div id="watchlist">
                    <table class="watchlist tablesorter">
                        <h3 id="watchlistTitle">Watchlist</h3>
                            {{!-- <div>
                                <label>Stock:</label>
                                <input id="watchlistStock" type="text" name="stock" placeholder="Add to watchlist"/>
                            </div>
                            <div>
                                <button id='watchlistSubmit'>Submit</button>
                                <button id='watchlistDelete'>Delete</button>
                            </div> --}}


                        <thead>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>%</th>
                        </thead>
                        <tbody id="watchlistBody">
                            {{!-- <tr class="stock decrease"><td class="name"><a class="stockName" href="/stockinfo/SPOT">SPOT</a></td><td class="value">$140.15</td><td class="change">-1.42</td><td class="percentage">--1.00%</td></tr>
                            <tr class="stock decrease"><td class="name"><a class="stockName" href="/stockinfo/SPOT">SPOT</a></td><td class="value">$140.15</td><td class="change">-1.42</td><td class="percentage">--1.00%</td></tr>
                            <tr class="stock increase"><td class="name"><a class="stockName" href="/stockinfo/SPOT">SPOT</a></td><td class="value">$140.15</td><td class="change">-1.42</td><td class="percentage">--1.00%</td></tr>
                            <tr class="stock decrease"><td class="name"><a class="stockName" href="/stockinfo/SPOT">SPOT</a></td><td class="value">$140.15</td><td class="change">-1.42</td><td class="percentage">--1.00%</td></tr>
                            <tr class="stock increase"><td class="name"><a class="stockName" href="/stockinfo/SPOT">SPOT</a></td><td class="value">$140.15</td><td class="change">-1.42</td><td class="percentage">--1.00%</td></tr> --}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tableBlock">
                <div id="portfolio">
                    <table class="portfolio tablesorter">
                        <h3 id="watchlistTitle">Portfolio</h3>
                        <thead>
                            <th>Portfolio</th>
                            <th>Performance</th>
                        </thead>
                        <tbody id="portfolioBody">
                            {{!-- <tr class="stock decrease"><td class="name">real estate hk</td><td id="test" class="change">-10355.60</td></tr>
                            <tr class="stock decrease"><td class="name">real estate hk</td><td id="test" class="change">-10355.60</td></tr>
                            <tr class="stock decrease"><td class="name">real estate hk</td><td id="test" class="change">-10355.60</td></tr> --}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



<div class="tableBlock">
    <h3>Market News</h3>
    <div id="wrapper" class="wrapper">
        {{!-- <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div>
        <div class="news"><div class="crop"><img src="https://cloud.iexapis.com/v1/news/image/a090f400-e15e-4d35-9f88-79f2e13ceda1"></div><h3 class="headline">A Big Week Ahead for Technology ETFs</h3><h5 class="source">ETF Trends</h5><p class="summary">Technology sector ETFs are in for a big week ahead as tech stock “Cadillacs” are up to bat. While investors were initially put off by the lackluster quarterly report out of Netflix...</p><a href="https://cloud.iexapis.com/v1/news/article/a090f400-e15e-4d35-9f88-79f2e13ceda1">Read more...</a></div> --}}
    </div>
    </div>



</div>

</div>
        





