
<h1>Holdings</h1>

<h3>Holdings of {{portfolio}}</h3>

{{!-- {{#each holdings}}
    <h4>{{symbol}}</h4>
{{/each}} --}}

            {{#each holdings}}
            <tr class="stock increase"><td class="name">{{symbol}}</td><td class="value">test</td><td class="change">test</td><td class="percentage">test</td></tr>
            {{/each}}

