
    {{!-- <div id="fb-root"></div> --}}
    {{!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=572072746976643&autoLogAppEvents=1"></script> --}}

    <a href="/login"><button type="button" name="button" >login</button></a>
    <a href="/signup"><button type="button" name="button" >signup</button></a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/auth/google">Login with Google</a>
