

    <a href="/login"><button type="button" name="button" >login</button></a>
    <a href="/signup"><button type="button" name="button" >signup</button></a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/auth/google">Login with Google</a>
