<div class='landing-layout'>


    <div id="loginContainer">
        <div class="spaceBlock150"></div>
        <div id="loginBody">

            <h1>LOGIN</h1>

            <form action="/login" method="post">
                <div class="loginForm">
                    <label class="loginLabel">Email:</label class="loginLabel">
                    <input type="text" name="username" />
                </div>
                <div class="loginForm">
                    <label class="loginLabel">Password:</label>
                    <input type="password" name="password" />
                </div>
                <div class="loginForm">
                    <input type="submit" value="Log In" />
                </div>
            </form>
            <a class="fbLogin" href="/auth/facebook">Login with Facebook</a>
            <a class="gogLogin" href="/auth/google">Login with Google</a>
        </div>

        <div class="spaceBlock150"></div>
        
        <div id="loginSignup">
            <p id="noAccount">Don't have an account?</p>
            <a class="signupTag" href="/signup">Sign Up</a>
        </div>
    </div>

    <div class="decoration">
        <img class="image"></img>
    </div>
</div>