<h2 id="stockName">{{data}}</h2>
<h2 id='currentPrice'></h2>

<div class="stockInfoBody">
    <div class="column">
        <div class="text-container">
            <h4 class="title">Company Name</h4>
            <h5 class="info" id="companyName">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Latest Time</h4>
            <h5 class="info" id="latestTime">test</h5>   
        </div>



        <div class="text-container">
            <h4 class="title">Open Time</h4>
            <h5 class="info" id="openTime">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Close Time</h4>
            <h5 class="info" id="closeTime">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Low</h4>
            <h5 class="info" id="low">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Change</h4>
            <h5 class="info" id="change">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Market Cap</h4>
            <h5 class="info" id="marketCap">test</h5>
        </div>



        <div class="text-container">
            <h4 class="title">Week 52 High</h4>
            <h5 class="info" id="52High">test</h5>
        </div>


        <div class="text-container">
            <h4 class="title">Market Open</h4>
            <h5 class="info" id="marketOpen">test</h5>
        </div>
    </div>


    <div class="column">
        <div class="text-container">
            <h4 class="title">Primary Exchange</h4>
            <h5 class="info" id="primaryExchange">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">Open</h4>
            <h5 class="info" id="openPrice">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">Close</h4>
            <h5 class="info" id="closePrice">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">High</h4>
            <h5 class="info" id="high">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">Previous Close</h4>
            <h5 class="info" id="previousClose">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">Change Percentage</h4>
            <h5 class="info" id="changePercentage">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">P/E Ratio</h4>
            <h5 class="info" id="peRatio">test</h5>
        </div>
        <div class="text-container">
            <h4 class="title">Week 52 Low</h4>
            <h5 class="info" id="52Low">test</h5>
        </div>
    </div>

</div>




<canvas id="myChart" width="1000" height="400"></canvas>

<button id="fiveDays">5 days</button>
<button id="oneMonth">1 month</button>
{{!-- <button id="removedates">Remove dates</button> --}}


<h2>News</h2>
<div id="newsArea">
{{!-- 
    <div class="newsBlock">
        <div class="detailCrop">
            <img src="${image}">
        </div>
        <div class="texts">
            <a href="${url}"></a>
                <h4 class="newsHeadline">Historically adjusted market-wide data All available data up to 15 years</h4>
            </a>
            <div class="publisher">
                <h5 class="source">The New York Times</h5>
                <div id="spacer"></div>
                <h5 class="dateTime">201923324</h5>
            </div>
            <h5 class="summary">In addition to informing us about the likelihood of reversals, liquidity shocks themselves can signal information about short horizon returns.</h5>
        </div>
    </div> 
    --}}

</div>
