<h2 id="stockName">{{data}}</h2>
<h2 id='currentPrice'></h2>


<h4>Company Name</h4>
<h5 id="companyName"></h5>

<h4>Primary Exchange</h4>
<h5 id="primaryExchange"></h5>

<h4>Latest Time</h4>
<h5 id="latestTime"></h5>

<h4>Open</h4>
<h5 id="openPrice"></h5>

<h4>Open Time</h4>
<h5 id="openTime"></h5>

<h4>Close</h4>
<h5 id="closePrice"></h5>

<h4>Close Time</h4>
<h5 id="closeTime"></h5>

<h4>High</h4>
<h5 id="high"></h5>

<h4>Low</h4>
<h5 id="low"></h5>

<h4>Previous Close</h4>
<h5 id="previousClose"></h5>

<h4>Change</h4>
<h5 id="change"></h5>

<h4>Change Percentage</h4>
<h5 id="changePercentage"></h5>

<h4>Market Cap</h4>
<h5 id="marketCap"></h5>

<h4>P/E Ratio</h4>
<h5 id="peRatio"></h5>

<h4>Week 52 High</h4>
<h5 id="52High"></h5>

<h4>Week 52 Low</h4>
<h5 id="52Low"></h5>

<h4>Market Open</h4>
<h5 id="marketOpen"></h5>


<canvas id="myChart" width="1000" height="400"></canvas>

<button id="fiveDays">5 days</button>
<button id="oneMonth">1 month</button>
{{!-- <button id="removedates">Remove dates</button> --}}


<h2>News</h2>
<div id="newsArea">
{{!-- 
    <div class="newsBlock">
        <div class="detailCrop">
            <img src="${image}">
        </div>
        <div class="texts">
            <a href="${url}"></a>
                <h4 class="newsHeadline">Historically adjusted market-wide data All available data up to 15 years</h4>
            </a>
            <div class="publisher">
                <h5 class="source">The New York Times</h5>
                <div id="spacer"></div>
                <h5 class="dateTime">201923324</h5>
            </div>
            <h5 class="summary">In addition to informing us about the likelihood of reversals, liquidity shocks themselves can signal information about short horizon returns.</h5>
        </div>
    </div> 
    --}}

</div>
