            {{> sidenav}}
<div class="contentMainBody">

    <h1>Transactions</h1>
    
    <div class="tableBlock">
        <div class="loginForm">
            <label class="loginLabel">Action:</label>
            <select id="action" name="action">
            <option value="buy">buy</option>
            <option value="sell">sell</option>
            </select>
        </div>
        <div class="loginForm">
            <label class="loginLabel">Stock:</label>
            <input id="stock" type="text" name="stock"/>
        </div>
        <div class="loginForm">
            <label class="loginLabel">Portfolio:</label>
            <select id="portfolio" name="portfolio">
            {{#each data}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="loginForm">
            <label class="loginLabel">Price:</label>
            <input id="price" type="number" name="price" />
        </div>
        <div class="loginForm">
            <label class="loginLabel">Amount:</label>
            <input id="amount" type="number" name="amount" />
        </div>
        <div>
            <button class="buttonsBlue" id='submit'>Submit</button>
        </div>
    </div>

    </div>