            <div class="header" style="width: 80vw">
                <h1>Stock App</h1>

                <form autocomplete="off" action="/action_page.php">
                    <div class="autocomplete" style="width:300px;">
                        <input id="myInput" type="text" name="stock" placeholder="Search stock">
                    </div>
                    {{!-- <input type="submit"> --}}
                </form>
            </div>