
        
        <nav class="navigation">

            <div id="navitems">


                
            <form autocomplete="off" action="/action_page.php">
                    <div class="autocomplete" style="width:300px;">
                        <input id="myInput" type="text" name="stock" placeholder="Search stock">
                    </div>
                    {{!-- <input type="submit"> --}}
            </form>



                <a href="/">
                    <span class="navitem">Dashboard</span>
                </a>
                <a href="/portfolio" class="navitem">
                    <span class="navitem">Portfolio</span>
                </a>
                <a href="/transactions" class="navitem">
                    <span class="navitem">Transactions</span>
                </a>
            </div>
        </nav>