/*
===================================================================
LAYOUT
===================================================================
*/

.main-layout {
  display: flex;
  flex-direction: row;
}

.navigation {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
}

button {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.main-body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*
===================================================================
DASHBOARD
===================================================================
*/

.tables {
  display: flex;
  flex-direction: row;
}

/*
===================================================================
WATCHLIST
===================================================================
*/

  body {
    font-size:1em;
    line-height:1.618em;
    font-family:lato;
  }

  table {
    margin:auto;
    width:500px;
    border-collapse:collapse;
    margin-right: 20px;
  }

  th, td {
    text-align:right; 
    margin:0;
    padding:0.4em 0.809em 0.6em;
  }

  td:nth-child(1) {
    letter-spacing:1px;
  }

  td:nth-child(2) {
    color:rgba(0,0,0,0.6)
  }
  
  th:nth-child(1), td:nth-child(1) {
    text-align:left
  }
  
  tr:nth-child(odd) {
    background:#f2f2f2;
  }

  .increase .change, .increase .percentage {
    color:green;
  }

  .increase .change:before {
    content:"";
    display:inline-block;
    float: right;
    border:0.3em solid transparent;
    border-bottom:0.4em solid green;
    position:relative;
    left:0.4em;
    top:0.2em;
  }

  .decrease .change:before {
    content:"";
    display:inline-block;
    float:right;
    border:0.3em solid transparent;
    border-top:0.4em solid red;
    position:relative;
    left:0.4em;
    top:0.75em;
  }

  .decrease .change, .decrease .percentage {
    color:red;
  }

/*
===================================================================
NEWS
===================================================================
*/

#news {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.news {
  width: 20vw;
  height: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  /* float: left; */
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom:10px;
}

/* img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  display: block;
} */

.crop {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: 100%;
}

.headline {
  margin-top: none;
}

.source {
  margin: none !important;
}

/* CSS GRID */

* {box-sizing: border-box;}

.wrapper {
    /* border: 2px solid #f76707; */
    border-radius: 5px;
    background-color: white
}

.wrapper > div {
    /* border: 2px solid #ffa94d; */
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    padding: 1em;
    color: black
}
.wrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 400px 400px;
}

/*
===================================================================
SEARCH BAR
===================================================================
*/


* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}
/*the container must be positioned relative:*/

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  /* width: 100%; */
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
/*when hovering an item:*/

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}